# Zephyr build folder
build/

# Zephyr logs
log*.txt

# Compiled Python bytecode
*.py[cod]

# Log files
*.log

# Secret keys
app/keys/private/*

# Python venv
.venv/

# Cache
.cache/

# West deps
mbedtls/
nrf/
nrfxlib/
pcf85063a/
tools/
modules/
bootloader/
zephyr/

# Cortex debugging states
.vscode/.cortex-debug.registers.state.json
