#include <zephyr/dt-bindings/led/led.h>
#include "circuitdojo_feather_nrf9160-pinctrl.dtsi"

&i2c1 {
  compatible = "nordic,nrf-twim";
	status = "okay";
  zephyr,concat-buf-size = <256>;

	pinctrl-0 = <&i2c1_default>;
	pinctrl-1 = <&i2c1_sleep>;
	pinctrl-names = "default", "sleep";
	pcf85063a: pcf85063a@51 {
		compatible = "nxp,pcf85063a";
		reg = <0x51>;
	};

	lis2dh: lis2dh@18 {
		compatible = "st,lis2dh";
		reg = <0x18>;
		irq-gpios = <&gpio0 29 GPIO_ACTIVE_HIGH>;
		disconnect-sdo-sa0-pull-up;
	};
};

&uart2 {
  status = "disabled";
};

&i2c2 {
  status = "disabled";
};

&spi2 {
  compatible = "nordic,nrf-spim";
  status = "okay";
  cs-gpios = <&gpio0 18 GPIO_ACTIVE_LOW>;
  pinctrl-0 = <&spi_feather_default>;
  pinctrl-1 = <&spi_feather_sleep>;
  // pinctrl-2 = <&spi_feather_pinmux_0>;
  // pinctrl-3 = <&spi_feather_pinmux_1>;
  // pinctrl-4 = <&spi_feather_pinmux_2>;
  // pinctrl-5 = <&spi_feather_pinmux_3>;
  // pinctrl-6 = <&spi_feather_pinmux_4>;
  pinctrl-names = "default", "sleep";//, "pinmux_0";// "pinmux_1", "pinmux_2", "pinmux_3", "pinmux_4";
  led_strip: ws2812@0 {
    compatible = "worldsemi,ws2812-spi";

    /* SPI */
    reg = <0>; /* ignored, but necessary for SPI bindings */
    spi-max-frequency = <4000000>;

    /* WS2812 */
    chain-length = <640>;
    spi-one-frame = <0x70>;
    spi-zero-frame = <0x40>;
    color-mapping = <LED_COLOR_ID_GREEN
    LED_COLOR_ID_RED
    LED_COLOR_ID_BLUE>;
  };
};
